*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: flex;
  flex-direction: column;
 
  width: 100%;
  height: auto;
  background: #202124;
}
.nav_bar{

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
 
  align-items: center;
  padding: 0 2rem;
  width: 100%;
  height: 5rem;
  background: #202124;
  box-shadow: 2px 1px 5px #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
 
}
.nav_bar nav{
  display: flex;
  align-items: center;
  justify-content: flex-end;

}
.nav_bar h1{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  color: #cac2c2;
}
 .nav_bar a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.5rem;
  margin: 0 10px ;
  color: #cac2c2;

}
.nav_bar a .list_item{
  display: flex;
  position: relative;
}
.nav_bar a .list_item span{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #FFF;
  width: 13px;
  height: 13px;
  top: -5px;
  border-radius: 50%;
  background: red;
  font-size: .5em;
  right: -5px;
}


.cart{
  display: flex;
 margin-top: 100px;
  min-height: 90vh;
  width: 100%;

}
.cart_page{
  display: flex; 
  flex-wrap: wrap;
  width: 70%;
  height: auto;
  justify-content: center;
 }
.cart .product__billing{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 80vh;
  margin: 10px;
  color: #cac2c2;
  background: #a2adad1f;
}

.cart .product__billing .billing__sec{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 40px;
}
.billing__head {
  display: flex;
  align-items: center;
  width: 80%;
  padding: 10px;
  border-bottom: 1px solid #585858;
}
.billing__head span:nth-child(1){
  width: 45%;
  color: #cac2c2;
}
.billing__head span:nth-child(2){
  /* justify-content: center; */
  width: 15%;
  color: #cac2c2;
}
.billing__head span{
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
}
.billing__total{
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: 10px;
}
.cart .product__billing h1{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cac2c2;
  margin: 20px;
}
.buy_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.buy_btn .buy{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  padding: 5px;
  border-radius: 5px;
  color: #202124;
  border: none;
  font-size: 1.0em;
}
.buy_btn .buy:hover{
  background: #eb761ce2;
  color: #fff;
}
.home_page{
  display: flex;
  flex-direction: column;
  justify-content: center;
margin-top: 100px;

}
.product__main{
  display: flex;
  justify-content: center;
  min-height: 90vh;
}
.product_list{
  margin-top: 20px;
  justify-content: center;
  width: 80%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
 
}

.product_card{
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 400px;
  margin: 10px;
  overflow: hidden;
  color: #cac2c2;
  border-radius: 10px;
  /* border: 1px solid #fff; */
  background: #ceecec1f;
  
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


}
.cart__noItems{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 80vh;
font-size: 2em;
color: #fff;
}
.cart__noItems span{
  color: red;
}
.product_card .product_img .wish__icon1{
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 1.3em;
  color: #dc10b3;
 /* background: red; */
  cursor: pointer;
}
.product_card .product_img .wish__icon{
  position: absolute;
  top: 10px;
  right: 14px;
  font-size: 1.3em;
  color: #888;
 
 
  cursor: pointer;
}
 .product_card .product_img{
  position: relative;
  display: flex;
  justify-content: center;
  margin:0  auto;
  align-items: center;
  width: 100%;
  background: transparent;

  height: 50%;

}
.product_card .product_img img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 90%;
  border-radius: 5px ;
  height: 90%;
}
.product_card:hover{
  box-shadow: rgba(199, 188, 188, 0.35) 0px 5px 15px;
  transition: 0.4s all ease-in-out;
  
}

 

.product_description{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px ;
}
.product_description h4
{
display: flex;
font-size: 1.2em;
color: #e4e7ee;
letter-spacing: 2px;
}
.product_description p{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px ;
  

}
.product_description button a{
  display: flex;
 margin: auto;
 font-size: 0.9em;
 color: #16e499;
}
.product_description  a{
  display: flex;
  justify-content: center;
  align-items: center;
color: #767779df;
}
.product_description .btns{
  display: flex;
  flex-direction: column;  
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
}
.product_description .btns button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  width: 60%;
  height: 30px;
  font-size: 1em;
  border-radius: 4px ;
  border: none;
  background: #fff;
  color: #272525ef;
  cursor: pointer;
 

}
.product_description .btns button:hover{
  background: #16e499;

}


.product_card .product_description .cart__btns{
  display: flex;
  width: 90%;
  justify-content: center;
  margin: 20px auto;
}
.original_price{
  display: flex;
  justify-content: center;
  margin-left: 5px;
  font-size: 0.8em;
  margin-top: 5px;
  text-decoration: line-through;
  color: rgb(249, 94, 94);
}
.remove_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 25px;
  padding: 5px;
  font-size: 0.9em;
  color: red;
}
.cart__btns .quantity{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  padding: 5px;
  height: 25px;
margin: 0;
  border: 1px solid gray;
}
.cart__btns button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  font-size: 1em;
}
.product_description button a{
  text-decoration: none;
  color: #585858;

}
.data__Loading{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  width: 100%;
  height: 100vh;
  color:rgb(20, 59, 232)
}
.wishlist__page{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
width: 100%;
min-height: 85vh;
margin-top: 100px;

}
.wishlist__page h1{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cac2c2;
}
.wishlist__page .wishlist__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin:10px auto;

}
/* single page */


.single__page{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  width: 100%;
 margin-top: 100px;
}
.single__page .product__details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #202124;
  width: 100%;
  padding: 20px;
  min-height: 90vh;
}
.single__page .product__details .images{
  width: 70%;
}
.single__page .product__details .details__single{
  display: flex;
  flex-direction: column;
 
  align-items: flex-start;
  margin-left: 5px;
  width: 70%;
  height: 70vh;
  padding: 20px;
  box-shadow: 2px 2px 15px #4e4a4a;
  
  
}
.single__page .product__details .details__single h1{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #cac2c2;
  font-size: 2.5em;
  margin: 10px 0;
}
.single__page .product__details .details__single p{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
  height: auto;
}
.single__page .product__details .details__single .rating{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #cac2c2;
  background: #058456;
  height: 20px;
  width: 50px;
  padding: 5px;
  border-radius: 5px;
}
.single__page .product__details .details__single .off{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #058456;
  height: 20px;
  width: 120px;
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}
.single__page .product__details .details__single .price{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #cac2c2;
  height: 20px;
  width: 40%;
  margin: 10px;
  font-size: 1.4em;
  padding: 5px;
  border-radius: 5px;
}
.single__page .product__details .details__single .price .original{
  display: flex;
  justify-content: flex-start;
  margin: 10px;
  font-size: .8em;
  text-decoration: line-through;
  color: rgb(182, 16, 16);
}
.single__page .product__details .details__single .price .disc{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #16e499;
  font-size: .8em;
}
.single__page .product__details .details__single .stock{
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  color: rgb(182, 16, 16);

  font-size: .9em;

}
.single__page .product__details .details__single .cat{
  display: flex;
  color: #cac2c2;
}

.single__page .product__details .details__single .cat b{
  margin: 10px;
  color: #4e4a4a;
}
.single__page .product__details .details__single .des{
  display: flex;
  width: 80%;
  height: 50px;
  color: #cac2c2;
}
.single__page .product__details .details__single .des b{
  display: flex;
  justify-content: flex-start;
  color: #4e4a4a;
height: 20px;
  margin: 10px;
}
.single__page .product__details .details__single .buttons{
  display: flex;
 
height: 50px;
width: 100%;
justify-content: center;
align-items: center;
padding: 10px;
  margin-top: 40px;
}
.single__page .product__details .details__single .buttons button{
  display: flex;
 
height: 30px;
width: 120px;
justify-content: center;
align-items: center;
padding: 10px;
font-size: 1.2em;
border-radius: 5px;
border: none;
  margin: 10px;
}
.single__page .product__details .details__single .buttons button:nth-child(2){
  background: #ef9d5d;
  color: #fff;
}
.single__page .product__details .details__single .buttons button:nth-child(2):hover{
  background: #914205;
  color: #fff;
}
.single__page .product__details .details__single .buttons button:nth-child(1):hover{
  background: #16e499;
  color: #fff;
}

a{
  text-decoration: none;
  color: #202124;
}

.final__page{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: #cac2c2;
  flex-direction: column;
}
.final__page img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}

.loading{
  width: 80%;
  height: 90vh;
  margin: auto;
}

  
.landing{
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: #fff;
  margin-top: 100px;
}
.landing a{
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 10px;
  width: 150px;
  height: 40px;
  background: #4e4a4a;
  border-radius: 5px;
  border: none;
  color: #888;
}
.landing a:hover{
  background: #058456;
  color: #cac2c2;
  font-size: 1.2em;
  width: 170px;
}
.landing h1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;

}